@model UserManagementVM
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Manage User Role</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3 mt-4">
                <input asp-for="ApplicationUser.Id" hidden />
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.ApplicationUser.Name" readonly class="form-control border-0 shadow" />
                    <label asp-for="@Model.ApplicationUser.Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select border-0 shadow">
                        <option disabled selected>---Select Role---</option>
                    </select>
                </div>
                <div class="form-floating py-2 col-12">
                    @{
                        var companyVisible = "display:none;";
                    }
                    @if(Model.ApplicationUser.Role == SD.Role_Company)
                    {
                        companyVisible = "display:block;";
                    }
                    <select asp-for="@Model.ApplicationUser.CompanyID" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select border-0 shadow">
                        <option disabled selected>---Select Company---</option>
                    </select>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update Role</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-secondary border form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ApplicationUser_Role').change(function () {
                var selection = $('#ApplicationUser_Role Option:Selected').text();
                if (selection == '@SD.Role_Company') {
                    $('#ApplicationUser_CompanyID').show();
                }
                else {
                    $('#ApplicationUser_CompanyID').hide();
                }
            })
        })
    </script>
}
